//- Include used template for this page
extends ../../template/template

//- Variables for include this in used template
block variables
    - let title       = 'Page title'
    - let description = 'Write description for this page here'
    - let keywords    = 'Write keywords for this page here'
    - let page        = 'contacts'

block content
    section
        p Contacts page