:root {
    --base-transition: all .1s linear;

    --font-family: 'Open Sans', sans-serif;

    --color-font-primary: #000;
}

// Breakpoints for Media quires
// $sm: 576px;
// $md: 768px;
// $lg: 992px;
// $xl: 1200px;
// $xxl: 1440px;
